body
{
    background-color:#7c5711;
    margin: 0;
}
#wrapper
{
    background-color: #ecc170;
    border: 2px  solid #fff;
    min-height: 100%;
    margin: 5px;
}
.header
{
    border: 2px solid #FFF;
    background-color: #ecc170;
    height: 300px;
}
.main-navigation
{
    background-color: rgb(245, 222, 173);
    height: 70px;
    text-align:center;
    color: #3f2c0b;
}
.main-navigation a
{
    text-align:center;
    color: #000000;
    text-decoration: underline;
}
.main-navigation a:hover
{
    text-decoration: none;
}